#divL{
    background-color:white;
    height: 630px;
    
}
.LoginDetailsBox{
    position: relative;
    top: 100px;
    background-color:white;
    height: 420px;
    z-index: 1;
   
}
.image{
    background-image: url('src/assets/book1.png');
    
    background-repeat: no-repeat;
     height: 800px;
     width: 650px;
     position: relative;
     left: -100px;
     top: -10px;
     z-index: 2;
}
.class{
    color: black;
    z-index: 3;
    position: relative;
    top: -100px;
    font-size: 55px;
    left: --30px;
    /*-500*/
}
.center{
    color: black;
    z-index: 3;
    position: absolute;
    top: 10px;
    font-size: 20px;
  /*  left: 200px;*/
   left: 650px;
}

.SignUpHr{
    background-color: black;
    z-index: 4;
    position: relative;
    top: -90px;
   /*width: 1200px;
   */
   width: 700px;
   height: 3px;
   /*left: -500px;*/
    left: -10px;
}
h5{
    position: relative;
    left: -10px;
    top: -40px;
    color: black;
   margin-bottom: -10px;
}
.information{
    position: relative;
    left: 200px;
    top: -30px;
}
.textBox{
    border-radius: 30px;
    border-color: rgb(194, 96, 96);
    margin-top: 5px;
}
span{
    color:rgb(122, 51, 51) ;
    font-size:90px;
}
#btn{
    background-color: rgb(122, 51, 51);
    left: 150px;
    color: aliceblue;
    position: relative;
    margin-top: 10px;
}
#btn:hover{
    border-color: black;
    background-color: rgb(146, 98, 34);
    left: 150px;
    color: aliceblue;
    position: relative;
    margin-top: 10px;
}

